/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  font-size: 50px;
}
.loader:before,
.loader:after {
  color: white;
  content: "^";
  grid-area: 1/1;
}
.loader:after {
  animation: l10 1s infinite;
}
@keyframes l10 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svh;
  background-color: #927265;
  display: flex;
  justify-content: center;
  align-items: center;
}
